
@using SW_PROJECT.Models;
@model List<Users>
@{
    ViewBag.Title = "UserProfile";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 
<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
    <a href="/Login/Index">Logout</a>
    <br>
    <p class=" text-info">@DateTime.Now </p>
</div>
        @{
            foreach (var user in Model)
            {
               
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@user.Username</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="left"> <img alt="User Pic" src="~/ein.jpg" class="img-circle img-responsive"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Department:</td>
                                                <td>@user.Departments.DeptName</td>
                                            </tr>
                                            <tr>
                                                <td>Registration Date:</td>
                                                <td>@user.RegDate</td>
                                            </tr>
                                            <tr>
                                                <td>Title</td>
                                                <td>@user.UserDegree</td>
                                            </tr>

                                            <tr>
                                            
                                            <tr>
                                                <td>Address:</td>
                                                <td>@user.Address</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>@user.Email</td>
                                            </tr>
                                            <tr>
                                                <td>Phone:</td>
                                                <td>@user.Phone</td>
                                            </tr>
                                            

                                        

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
            }
        }

  





